@import "../lib/mortar/development/less/mixins";

.m-accordion {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	li {
		display: block;
		margin: 0;
		margin-bottom: 5px;
		padding: 0;			

		.m-accordion-title {
			display: block;
			background-color: #999;
			margin: 0;
			padding: 15px;
			color: white;
			font-weight: 300;
			cursor: pointer;
			.rounded(5px);

			transition: all 0.50s;
			-webkit-transition: all .50s;
			-moz-transition: all 0.50s;

			i {
				font-size: 20px;
				color: inherit;
				width: 15px;
				text-align: center;
			}
		}

		.m-accordion-text {
			display: none;
			padding: 0 15px;
			border: 1px solid #ddd;
			border-top: 1px solid transparent;
			.border-radius(0, 5px, 5px, 0);
		}

		&:hover {
			.m-accordion-title {
				background-color: black;
			}
		}

		&.active, &.active:hover {
			.m-accordion-title {
				background-color: #444;
			}
		}
	}
}