.m-accordion {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.m-accordion li {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.m-accordion li .m-accordion-title {
  display: block;
  padding: 15px;
  margin: 0;
  font-weight: 300;
  color: white;
  cursor: pointer;
  background-color: #999;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all .50s;
     -moz-transition: all 0.50s;
          transition: all 0.50s;
}

.m-accordion li .m-accordion-title i {
  width: 15px;
  font-size: 20px;
  color: inherit;
  text-align: center;
}

.m-accordion li .m-accordion-text {
  display: none;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-top: 1px solid transparent;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.m-accordion li:hover .m-accordion-title {
  background-color: black;
}

.m-accordion li.active .m-accordion-title,
.m-accordion li.active:hover .m-accordion-title {
  background-color: #444;
}